<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.taozhu.persistence.BusinessUserMapper" >
	<select id="queryBusinessUserById" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT id,sub_business_code,user_code,create_time,CODE FROM lv_business_user
			<where>
				<if test="id!=null and id!=''">
					and id=#{id}
				</if>
			</where>
	</select>
	<select id="queryBusinessUserList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT d.sub_name,u.nick_name,b.sub_business_code,b.user_code,b.id 
		FROM lv_business_user b ,lv_user u,lv_business_details d 
		WHERE d.code=b.sub_business_code AND u.user_id=b.user_code
		<if test="sub_name!=null and sub_name!=''">
			and d.sub_name=#{sub_name}
		</if>
		<if test="nick_name!=null and nick_name!=''">
			and u.nick_name=#{nick_name}
		</if>
	</select>
	<insert id="insertBusinessUser" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.Map">
		insert into lv_business_user(
			sub_business_code,
			user_code,
			create_time
		)
		values
		(
			#{business_code},
			#{user_id},
			now()
		)
	</insert>
	<update id="updateBusinessUser" parameterType="java.util.Map">
		update lv_business_user 
			<set>
				<if test="business_code!=null and business_code!=''">
					sub_business_code = #{business_code},
				</if>
				<if test="user_id!=null and user_id!=''">
					user_code=#{user_id}
				</if>
			</set>
			where id=#{id}
	</update>
	<delete id="deleteALLSelect" parameterType="java.util.HashMap">
		delete from lv_business_user
		<where>
			<choose>
				<when test="ids!=null and  ids!=''">
					and id in (#{ids})
				</when>
				<otherwise>
					and 1=2
				</otherwise>
			</choose>
		</where>
	</delete>
</mapper>